
<html>
    <body>
<% pessoas.forEach((pessoa) => { %>
    <%= pessoa.nome %>
<% }) %>
<% pessoas.forEach((pessoa) => { %>
    <%= pessoa.sobrenome %>
<% }) %>
<% pessoas.forEach((pessoa) => { %>
    <%= pessoa.idade %>
<% }) %>
<% pessoas.forEach((pessoa) => { %>
    <%= pessoa.altura %>
<% }) %>
</body>
</html>